.friendList {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px,
    rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  margin: auto;
  font-family: 'Red Rose', cursive;
  margin-bottom: 10px;
}
.status {
  border-radius: 50%;
  height: 15px;
  margin-right: 10px;
  width: 15px;
  background-color: red;
}

.false {
  background-color: red;
}

.true {
  background-color: green;
}

.list {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  align-items: center;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px,
    rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 10px;
  padding: 10px 15px;
  width: 50%;
}

.avatar {
  margin-right: 20px;
}
